<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>remoteapi</servlet-name>
		<servlet-class>
		com.google.apphosting.utils.remoteapi.RemoteApiServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.appspot.bitlyminous.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Scheduler</servlet-name>
		<servlet-class>com.appspot.bitlyminous.servlet.SchedulerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Async</servlet-name>
		<servlet-class>com.appspot.bitlyminous.servlet.AsynchronousServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailBot</servlet-name>
		<servlet-class>com.appspot.bitlyminous.servlet.MailBotServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Authenticator</servlet-name>
		<servlet-class>com.appspot.bitlyminous.servlet.AuthenticatorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XmppBot</servlet-name>
		<servlet-class>com.appspot.bitlyminous.servlet.XmppBotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteapi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmppBot</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>MailBot</servlet-name>
	  <url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>Async</servlet-name>
	  <url-pattern>/_ah/queue/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Authenticator</servlet-name>
		<url-pattern>/Auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Scheduler</servlet-name>
		<url-pattern>/cron/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>remoteapi</web-resource-name>
			<url-pattern>/remote_api</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>	
	<security-constraint>
        <web-resource-collection>
			<web-resource-name>scheduledtasks</web-resource-name>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	<security-constraint>
	  <web-resource-collection>
		<web-resource-name>mailhandlers</web-resource-name>
	    <url-pattern>/_ah/mail/*</url-pattern>
	  </web-resource-collection>
	  <auth-constraint>
	    <role-name>admin</role-name>
	  </auth-constraint>
	</security-constraint>    	
	<security-constraint>
	  <web-resource-collection>
		<web-resource-name>asynctasks</web-resource-name>
	    <url-pattern>/_ah/queue/*</url-pattern>
	  </web-resource-collection>
	  <auth-constraint>
	    <role-name>admin</role-name>
	  </auth-constraint>
	</security-constraint>    	
	<security-constraint>
	  <web-resource-collection>
		<web-resource-name>chathandlers</web-resource-name>
	    <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	  </web-resource-collection>
	  <auth-constraint>
	    <role-name>admin</role-name>
	  </auth-constraint>
	</security-constraint>    	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
